<div class="row">
  <div class="col-lg-8"></div>
  <div class="col-lg-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email Address" ng-model="userId">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="" ng-click="findMe()">Find Me</a></li>
          <li><a href="" ng-click="pickMeUp()">Pick Me Up</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!--  /col-lg-3 -->
  <div class="col-lg-1"></div>
</div><!-- /row -->